* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #dfdfdf;
}

.card {
  background-color: white;
  box-shadow: 5px;
  border-radius: 5px;
  padding: 4px;
}

.backdrop {
  background-image: url(https://media0.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
